*{
	font-family: 'Dancing Script', cursive;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}


.principal{
	width: 900px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
}

/*estilos cabecera*/
.header{
	width: 100%;
	min-height: 80px;
	background-color: #5b7989;
	display: flex;
	flex-flow: row wrap;
	border-radius: 10px 10px 0 0;
	align-items: center;
}

.header .titulo{
	width: 70%;
	
}

.header .titulo h1{
	text-align: center;
	color: #FFFFFF;
	text-shadow: 2px 2px #02010a;
}

.header .nav{
	width: 30%;
}

.header .nav a{
	color: #FFFFFF;
	font-size: 1.3em;
	padding: 15px;
}



/*estilos seccion central*/

.section{
	width: 100%;
	min-height: 500px;
	display: flex;
	flex-flow: row wrap;
}

.section .seccion1{
	width: 100%;
	min-height: 300px;
	background: url(../img/pexels-photo-459225.jpeg);
	background-attachment: contain;
	background-size: cover;
	
}
.section .seccion2, .seccion3{
	width: 50%;
	height: 250px;	
	border: 1px solid #FFFFFF;
	background: #d5c75f;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	
}


.section .seccion2 img {
	width: 80%;
	max-width: 100% ;
}

.section .seccion3 img{
	width: 80%;
	max-width: 100% ;
}

/*estilos pie de pagina*/

.footer{
	width: 100%;
	min-height: 250px;
	background-color: #355C7D;
	display: flex;
	flex-flow: row wrap;
}

.footer .pie1{
	width: 25%;
	background-color: #BFBFBF;
}

.footer .pie2{
	width: 25%;
	background-color: #9C9C9C;
}
.footer .pie3{
	width: 25%;
	background-color: #7C7C7C;
}

.footer .pie4{
	width: 25%;
	background-color: #6B6B6B;
}
